parameters:
	menu:
		PA2:
			route: Subject:default
			parameters:
				subject: PA2
			menu:
				2017_CT_11_00:
					route: Subject:year
					parameters:
						year: 2017_CT_11_00
						subject: PA2
					tutorials:
						directory: %appDir%/../sources/PA2/2017/11_00
					semester:
						start: 2017-02-20
						end: 2017-05-12
				2017_CT_12_45:
					route: Subject:year
					parameters:
						year: 2017_CT_12_45
						subject: PA2
					tutorials:
						directory: %appDir%/../sources/PA2/2017/12_45
					semester:
						start: 2017-02-20
						end: 2017-05-12
		PA1:
			route: Subject:default
			parameters:
				subject: PA1
			menu:
				2016:
					route: Subject:year
					parameters:
						year: 2016
						subject: PA1
					tutorials:
						directory: %appDir%/../sources/PA1/2016
					semester:
						start: 2016-10-03
						end: 2017-01-08

